/* Body */

body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Reset */

.link {
  text-decoration: none;
  color: currentColor;
}
.list {
  list-style: none;
}
.adress {
  font-style: normal;
}
.btn {
  cursor: pointer;
}

/* Header styles */

.logo {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.studio-dark {
  color: #2e2f42;
}
.header-list {
  font-weight: 500;
  color: #2e2f42;
}

.header-contact:hover,
.header-contact:focus {
  color: #404bbf;
}

/* hero styles */

.hero {
  background-color: #2e2f42;
}
.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: #ffffff;
}
.hero-btn {
  font-weight: 500;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/* features styles */

.features-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
}

/* activity styles */

.activity-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: #2e2f42;
}

/* tiam styles */

.team {
  background-color: #f4f4fd;
}
.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: #2e2f42;
}
.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: #2e2f42;
}
.team-text {
  text-align: center;
}

/* footer styles*/

.footer {
  background-color: #2e2f42;
}
.studio-light {
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
}
